# Environments
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.whl

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Temporary scrapers
*.log
scratch/
marrakech_page1.html
inspect_*.py
test_*.py
check_*.py

*.db
sourcing_all_listings.csv
sourcing_all_listings.json
ANALYSE GLOBALE.xlsx
